{% extends "client/base.html" %} 
{% load static %}
{% block header %}
    {% include "client/header.html" %}
{% endblock header %}

        <div id="main-wrapper" class="mainWrapper pb-0"><!---->
        <div class="mainWrapper pb-0">
            <section class="blockElement space bg-white ourCompany beforeNone">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h1 class="bold mb-md-3">Join our <span class="secondary">Affiliate</span> Program </h1>
                            <p>Isotradex is one of the most transparent copy and social trading platforms in the world whose
                                main goal is to support Investors and Leaders with their investment goals but to also
                                compensate Affiliates for their promotional efforts. Our Affiliate Program is open for
                                Website and Blog owners, Social Media Influencers, Trading Academies, YouTubers and Vloggers
                                or even Professional Leaders who can attract Investors to sign up through them and earn
                                additional income.</p>
                            <div
                                class="dualButton text-center mt-4 dualbannerbtn d-flex align-items-center justify-content-center flex-wrap px-3">
                                <a href="https://app.Isotradex.com/register" target="_blank"
                                    class="button fillBtn Isotradex_btn my-1 me-3">Become an Affiliate</a><a
                                    href="https://app.Isotradex.com/login" target="_blank"
                                    class="button borderBtn Isotradex_btn my-1">Login</a></div>
                            <div class="AutoGuard my-3 my-md-5"><img src="{% static 'assets/img/herobanner.png' %}"
                                    alt="Isotradex Affiliate Program | Join the Fintech Era. Be our Brand's Partner"
                                    title="Isotradex Affiliate program allows to website &amp; community managers, influencers and any content creator to monetize their audience reach. Join the Fintech Era!"
                                    class="v-lazy-image v-lazy-image-loaded green-fl"></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space pt-0 whoWeAre">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-9 text-center">
                            <div class="boxed customTop">
                                <h2 class="mb-md-4">What is a Isotradex Affiliate?</h2>
                                <p>An Affiliate can be either an individual user or a corporation that participates in
                                    Isotradex's Affiliate Program, promoting Isotradex's service. Affiliates register for
                                    the program and then choose a unique URL that they utilize to advertise/promote
                                    Isotradex. By promoting Isotradex, Affiliates introduce Referral Clients to Isotradex's
                                    Copy trading services. Affiliates receive a commission for their service for accounts
                                    that signed up through the Affiliate's website (URL).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-4 mb-md-5 text-center">
                            <h2>What does an Affiliate do?</h2>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card-body h-100 bg-white p-3 mobCenter"><span class="d-block mb-4"><img
                                        src="{% static 'assets/img/create-account.svg' %}"
                                        class="d-block h-70 v-lazy-image v-lazy-image-loaded green-fl" alt="Create Affiliate Account"
                                        title="Fill in your details"></span>
                                <h4 class="bold">Create Affiliate Account</h4>
                                <p>Fill in your details and get your account enabled immediately. Join us. Fast, Easy, Free!
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card-body h-100 bg-white p-3 mobCenter"><span class="d-block mb-4"><img
                                        src="{% static 'assets/img/promote.svg' %}"
                                        class="d-block h-70 v-lazy-image v-lazy-image-loaded green-fl"
                                        alt="Choose Promotional Content" title="Choose the links,.."></span>
                                <h4 class="bold">Choose Promotional Content</h4>
                                <p>Choose the links, banners and landing pages that will help you promote our Social wealth
                                    management platform powered by copy trading.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 mb-4">
                            <div class="card-body h-100 bg-white p-3 mobCenter"><span class="d-block mb-4"><img
                                        src="{% static 'assets/img/earn.svg' %}" class="d-block h-70 v-lazy-image v-lazy-image-loaded green-fl"
                                        alt="Earn" title="Enjoy our transparent"></span>
                                <h4 class="bold">Earn</h4>
                                <p>Enjoy our transparent Geo-based CPA model and monetise your global based traffic and
                                    network.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center mt-4"><a href="https://www.Isotradex.com/partners/register"
                                    target="_blank" class="button fillBtn Isotradex_btn me-3 px-md-5">Become an Affiliate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space bg-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 mb-0 mb-md-4 text-center">
                            <h2>Compensation Schemes</h2>
                            <p>Our default monetisation model is CPA, but we are open to discuss more options for
                                established affiliates, like hybrid and custom deals if they can deliver large volumes of
                                customers. Feel free to contact your account manager to discuss a bespoke monetisation model
                                that fits your business operations and allows for rapid future growth.<br>Our CPA payouts
                                are categorised into Tiers, depending on the Geolocation of the accounts referred by our
                                affiliates. Additionally, various yet simple triggering criteria apply.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space automated4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center mb-md-4 pb-4">How to become an Affiliate in 3 easy steps</h2>
                            <ul class="listCounter mb-0">
                                <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row pb-4">
                                    <span class="customXpad d-flex justify-content-center"><img
                                            src="{% static 'assets/img/open-account.svg' %}"
                                            class="d-block img-fluid mb-4 v-lazy-image v-lazy-image-loaded green-fl" width="86"
                                            alt="Click Join Isotradex as an Affiliate"
                                            title="Access the Affiliate Program "></span><label
                                        class="d-block text-center text-md-start mb-0">
                                        <h4 class="mb-2 bold">Click Join Isotradex as an Affiliate</h4>
                                        <p>Access the Affiliate Program page and click on “Become an Affiliate” to start the
                                            process.</p>
                                    </label></li>
                                <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row pb-4">
                                    <span class="customXpad d-flex justify-content-center"><img
                                            src="{% static 'assets/img/Start-journey.svg' %}"
                                            class="d-block mb-4 v-lazy-image v-lazy-image-loaded green-fl"
                                            alt="Complete the Registration Form and get your unique affiliate URL"
                                            title="Fill in your information in the Online Registration Form"></span><label
                                        class="d-block text-center text-md-start mb-0">
                                        <h4 class="mb-2 bold">Complete the Registration Form and get your unique affiliate
                                            URL</h4>
                                        <p>Fill in your information in the Online Registration Form, submit your application
                                            and get your unique Affiliate URL to start inviting Investors to Isotradex.</p>
                                    </label></li>
                                <li class="d-flex align-items-center align-items-md-start flex-column flex-md-row pb-4">
                                    <span class="customXpad d-flex justify-content-center"><img
                                            src="{% static 'assets/img/step-6.svg' %}"
                                            class="d-block mb-4 v-lazy-image v-lazy-image-loaded green-fl"
                                            alt="Invite your contacts and start earning commissions"
                                            title="Investors use your Affiliate"></span><label
                                        class="d-block text-center text-md-start mb-0">
                                        <h4 class="mb-2 bold">Invite your contacts and start earning commissions</h4>
                                        <p>Investors use your Affiliate URL to sign up to Isotradex and you receive
                                            commissions based on our our collaboration agreement</p>
                                    </label></li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <div class="text-center"><a href="https://www.Isotradex.com/partners/register" target="_blank"
                                    class="button fillBtn Isotradex_btn me-3 px-md-5">Become an Affiliate</a></div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space bg-white automated5">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center mb-md-5 pb-4">Reasons to become an Affiliate</h2>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="Transparent Compensation Plans"
                                        title="The AutoScript feature enables"></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">Transparent Compensation Plans</h4>
                                    <p>We have a clear and transparent compensation scheme for our affiliates. We also offer
                                        tailored agreements for our advanced and highly converting affiliates and those who
                                        want to get more out of the partnership.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="Dedicated Affiliate Team"
                                        title="Our Affiliate Desk Team"></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">Dedicated Affiliate Team</h4>
                                    <p>Our Affiliate Desk Team will help you develop your business by providing material,
                                        content, creative assets or any type of support you might need.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="Licensed and Regulated in the EU"
                                        title="Isotradex is a transparent"></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">Licensed and Regulated in the EU, Japan, Mauritius and SA</h4>
                                    <p>Isotradex is a transparent, reliable and self-converting fully regulated brand.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="High Conversion Rates"
                                        title="Isotradex is one of the first .."></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">High Conversion Rates</h4>
                                    <p>Isotradex is one of the first and most established brands in the industry. Watch your
                                        leads being effortlessly converted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="No Limits in Payment Requests"
                                        title="There are no limits per client"></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">No Limits in Payment Requests</h4>
                                    <p>There are no limits per client, or in total commission payouts.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-4">
                            <div class="d-flex align-items-start"><span class="automated me-3 flex-none"><img
                                        src="{% static 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}"
                                        class="d-block v-lazy-image" alt="Multi-lingual Support"
                                        title="Our 24/5 Multilingual Support"></span>
                                <div class="flex-none contentCalc">
                                    <h4 class="bold">Multi-lingual Support</h4>
                                    <p>Our 24/5 Multilingual Support Team is available to assist you via live chat, phone or
                                        email!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-center mt-4"><a href="https://www.Isotradex.com/partners/register"
                                    target="_blank" class="button fillBtn Isotradex_btn me-3 px-md-5">Become an Affiliate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blockElement space faqs automated6">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="mb-md-4 pb-4">Frequently Asked Questions (FAQs)</h2>
                        </div>
                        <div class="col-12">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseOne" aria-expanded="false"
                                            aria-controls="flush-collapseOne">How does your tracking work?</button></h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body"><span class="d-block mb-2">Regarding our tracking
                                                method, we keep a reference log for the users who click on your referral
                                                link. So even if the referral navigates to another tab or page after
                                                clicking on your referral link, they will be placed under your affiliate
                                                account after their registration.</span><span>Please note that each of your
                                                referral links is intended for specific use. The Web Affiliate Link is only
                                                meant for usage on the web, while the App Affiliate link is designed solely
                                                for application usage. For any further information, send an email to <a class="secondary" href="cdn-cgi/l/email-protection.html#046562626d686d65706177446a6b6070766560612a676b69">
                                                    <span class="__cf_email__" data-cfemail="573631313e3b3e362332241739383323253633327934383a"><span class="__cf_email__" data-cfemail="6e071d011a1c0f0a0b162e000b16145f400d0103">[email&#160;protected]</span></span> </a> with your questions.</span></div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingFour"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                                            aria-controls="flush-collapseFour">How can I connect a referral under my
                                            account if my referrals didn’t correctly use my unique URL?</button></h2>
                                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">If your referral was not correctly placed under your
                                            affiliate account, the affiliate desk must be notified immediately, within a
                                            maximum of five days of the registration of the referral account. The referral
                                            in question, must personally send an email from their registered Isotradex email
                                            to <a class="secondary" href="cdn-cgi/l/email-protection.html#d0b1b6b6b9bcb9b1a4b5a390bebfb4a4a2b1b4b5feb3bfbd">
                                                <span class="__cf_email__" data-cfemail="7a1b1c1c1316131b0e1f093a14151e0e081b1e1f54191517"><span class="__cf_email__" data-cfemail="543d273b20263530312c143a312c2e657a373b39">[email&#160;protected]</span></span> </a> requesting to be added under your affiliate
                                            account. They must mention your email or affiliate ID. Please note, that all
                                            requests past the five days' window will not be handled.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingfive"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapsefive" aria-expanded="false"
                                            aria-controls="flush-collapsefive"> Do you accept PPC Affiliates?</button></h2>
                                    <div id="flush-collapsefive" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">We do accept PPC Affiliates with the condition that
                                            they will not bid on the Isotradex Brand and any other Trademarks or Names of
                                            Isotradex and its collaborating Brokers. If you are a PPC Affiliate interested
                                            in promoting Isotradex, please make sure that you read our PPC Policy <a
                                                href="affiliate-guide.html" class="secondary">here</a>.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingsix"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapsesix" aria-expanded="false"
                                            aria-controls="flush-collapsesix">Am I allowed to promote Isotradex on social
                                            media?</button></h2>
                                    <div id="flush-collapsesix" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Of course, feel free to invite friends or promote
                                            Isotradex through social media. You can use any of the material available in
                                            your Affiliate account. Kindly note that the use of disclaimers is mandatory. We
                                            suggest that you submit for approval to Affiliates Desk any banner or piece of
                                            content created to promote Isotradex.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingSeven"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                                            aria-controls="flush-collapseSeven">Do you offer any creative assets for me to
                                            use online to promote my affiliate account?</button></h2>
                                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">We offer a variety of banners, widgets, dynamic and
                                            static ones that you can freely use on your website. These have high conversion
                                            rates and will offer your website evergreen content as most of them are dynamic.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingEight"><button
                                            class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapseEight" aria-expanded="false"
                                            aria-controls="flush-collapseEight"> Can I be a Isotradex Leader and An
                                            Affiliate at the same time?</button></h2>
                                    <div id="flush-collapseEight" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Being a Isotradex Leader and Affiliate at the same time
                                            is a good practice as it can maximize your overall payout from your network. For
                                            more information send an email to <a class="secondary" href="cdn-cgi/l/email-protection.html#f29394949b9e9b93869781b29c9d968680939697dc919d9f"> <span class="__cf_email__" data-cfemail="046562626d686d65706177446a6b6070766560612a676b69"><span class="__cf_email__" data-cfemail="3b5248544f495a5f5e437b555e43410a15585456">[email&#160;protected]</span></span></a>.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
  {% endblock content %}

{% block footer %}
    {% include "client/footer.html" %}
{% endblock footer %}