{% load static %}

<footer class="mainFooter">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-12 col-xl-4">
        <div
          class="d-flex flex-column h-100 justify-content-between calBOxed"
          style="max-width: 100%"
        >
          <div class="socialFooter">
            <div class="footerLogo flex-between align-items-start mb-3">
              <img
                alt="Logo"
                width="180"
                style="height: 100%"
                data-nimg="1"
                style="color: transparent"
                src="{% static 'assets/img/logo/lg-logo-dark.png' %}"
                class="logo"
                data-dark-src="{% static 'assets/img/logo/lg-logo-dark.png' %}"
                data-light-src="{% static 'assets/img/logo/lg-logo-light.png' %}"
              />
            </div>
            <div
              class="IsotradexCopyright menutextBG p-3 pb-0 d-flex align-items-start justify-content-between"
            >
              <div class="downloadApp">
                <p class="text-white fs-20 mb-md-4 mb-2">
                  Copytrade with<!-- -->
                  <span class="hilighted fadebg" style="white-space: nowrap"
                    >Isotradex</span
                  >
                </p>
                <p class="fs-12 mb-1 lighter text-white">Download app for</p>
                <div class="d-flex align-items-center">
                  <a
                    href="index.html#"
                    target="_blank"
                    class="fadebg appStore text-white medium fs-14 me-2"
                    rel="noreferrer"
                    ><span>iOS</span></a
                  ><a
                    href="index.html#"
                    target="_blank"
                    class="fadebg appStore text-white medium fs-14"
                    rel="noreferrer"
                    ><span>Android</span></a
                  >
                </div>
              </div>
              <div class="mobileApp" style="position: relative">
                <img
                  alt="Phone Icon"
                  style="width: 50px; height: 100%; margin-right: 20px"
                  style="color: transparent"
                  src="{% static 'assets/img/mockup2.png' %}"
                />
                <img
                  alt="Phone Icon"
                  style="
                    width: 50px;
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    left: 30px;
                    top: 0;
                  "
                  style="color: transparent"
                  src="{% static 'assets/img/mockup1.png' %}"
                />
              </div>
            </div>
            <div class="rtSocial mt-4">
              <p class="mb-2">Follow us on</p>
              <ul
                class="socialList d-flex align-items-center justify-content-start"
              >
                <li>
                  <a
                    class="d-block ps-0"
                    href="index.html#"
                    target="_blank"
                    title="Facebook"
                    rel="noreferrer"
                    ><img
                      alt="Facebook"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/facebook.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Twitter"
                    rel="noreferrer"
                    ><img
                      alt="twitter"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/twitter.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Linkedin"
                    rel="noreferrer"
                    ><img
                      alt="Linkedin"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/linkedin.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Youtube"
                    rel="noreferrer"
                    ><img
                      alt="youtube"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/youtube.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Instagram"
                    rel="noreferrer"
                    ><img
                      alt="Instagram"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/instagram.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Tiktok"
                    rel="noreferrer"
                    ><img
                      alt="Ticktok"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/ticktok.svg' %}"
                  /></a>
                </li>
                <li>
                  <a
                    class="d-block"
                    href="index.html#"
                    target="_blank"
                    title="Reddit"
                    rel="noreferrer"
                    ><img
                      alt="reddit"
                      loading="lazy"
                      width="24"
                      height="24"
                      decoding="async"
                      data-nimg="1"
                      style="color: transparent"
                      src="{% static 'assets/img/reddit.svg' %}"
                  /></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="copyRightZultarde">
            <p class="fs-14 midgray mb-0">©Copyright 2025 Isotradex</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-8">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="sndTop false">
              <div class="flex-between forMobButton">
                <h6 class="">Legal</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li>
                  <a href="{% static 'pdf/terms-of-service.pdf' %}" class="">Terms Of Service</a>
                </li>
                <li>
                  <a href="{% url 'privacy-policy' %}" class="">Privacy Policy</a>
                </li>
                <li>
                  <a href="{% url 'cookies-policy' %}" class="">Cookies Policy</a>
                </li>
                <li>
                  <a href="{% url 'risk-disclaimer' %}" class="">Risk Disclaimer</a>
                </li>
                <li>
                  <a href="{% static 'pdf/conflict-of-interest-policy.pdf' %}" class=""
                    >Conflict of Interest Policy</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.isotradex.com/Home/Declaration_of_Consent_Isotradex.pdf"
                    class=""
                    >Declaration of Consent</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.isotradex.com/Home/Isotradex-eula-draft.pdf"
                    class=""
                    >End-User License Agreement</a
                  >
                </li>
              </ul>
            </div>
            <div class="sndBottom false">
              <div class="flex-between forMobButton">
                <h6 class="">Features</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li><a href="{% url 'autoprotect' %}" class="">AutoGuard™</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="sndBottom false">
              <div class="flex-between forMobButton">
                <h6 class="">Learn</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li>
                  <a href="{% url 'affiliate-guide' %}" class="">Affiliate Guide</a>
                </li>
                <li><a href="{% url 'leader-guide' %}" class="">Leader Guide</a></li>
                <li><a href="{% url 'user-guide' %}" class="">User Guide</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <div class="sndTop false">
              <div class="flex-between forMobButton">
                <h6 class="">About us</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li><a href="{% url 'about' %}" class="">Company</a></li>
              </ul>
            </div>
            <div class="sndBottom false">
              <div class="flex-between forMobButton">
                <h6 class="">Partnerships</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li><a href="{% url 'become-leader' %}" class="">Leader</a></li>
                <li>
                  <a href="{% url 'become-affiliate' %}" class="">Affiliate</a>  
                </li>
                <li><a href="{% url 'partnerships-program' %}" class="">Broker</a></li>
              </ul>
            </div>
            <div class="sndBottom false">
              <div class="flex-between forMobButton">
                <h6 class="">Contact</h6>
                <i
                  style="color: #778290; width: 18px; height: 18px"
                  data-feather="plus-circle"
                ></i>
              </div>
              <ul class="footerList">
                <li>
                  <a
                    class="d-flex align-items-center gap-1"
                    target="_blank"
                    href="tel:Premium members"
                    rel="noreferrer"
                    ><svg
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-phone-call"
                    >
                      <g>
                        <path
                          d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
                        ></path>
                      </g></svg
                    >Premium members</a
                  >
                </li>
                <li>
                  <a
                    class="d-flex align-items-center gap-1"
                    target="_blank"
                    href="cdn-cgi/l/email-protection.html#60131510100f1214200e0f0414120104054e030f0d"
                    rel="noreferrer"
                  >
                    <svg
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-mail"
                    >
                      <g>
                        <path
                          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path>
                        <polyline points="22,6 12,13 2,6"></polyline>
                      </g>
                    </svg>
                    <span
                      class="__cf_email__"
                      data-cfemail="a4cdd7cbd0d6c5c0c1dce4cac1dcde958ac7cbc9"
                      >[email&#160;protected]</span
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12">
            <div class="disclamer mt-1">
              <p class="fs-14 mb-2 medium darkbluecolor">Disclaimer</p>
              <div>
                <div class="list-unstyled">
                  <p>
                    Isotradex, is a Global financial service provider, Isotradex
                    is a registered trademark of the group, that operates
                    amongst various entities.
                  </p>
                  <p>
                    The service provided by Isotradex is operated by the
                    Isotradex Group of Companies and is regulated by SEC, CRD
                    298461. CN Global is regulated by FCA in the United Kingdom,
                    Reference Number 573263. CN is regulated by CIRO, reference
                    number 9290. Trading in financial instruments involves
                    substantial risk and there is always the potential for loss.
                    Your trading results may vary. Past performance is not
                    indicative of future results.
                  </p>

                  <p>
                    Please check our full disclaimer
                    <a href="risk-disclaimer.html" class="underline"
                      >disclaimer</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
